{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Edit Investment</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="{{ form.investment_group.id_for_label }}" class="col-md-6 col-form-label text-md-right">{{ form.investment_group.label_tag }}</label>
                        </div>
                                <div class="form-group col-md-6">
                                    {{ form.investment_group }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="{{ form.investment_name.id_for_label }}">Investment Name:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                    {{ form.investment_name }}
                                </div>
                                </div>
                                <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="{{ form.investment_period.id_for_label }}">Investment Period (months):</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                    {{ form.investment_period }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="{{ form.interest_rate.id_for_label }}">Interest Rate (%):</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                    {{ form.interest_rate }}
                                </div></div>
                                <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="{{ form.amount_invested.id_for_label }}">Amount Invested:</label>
                                  </div>
                                    <div class="form-group col-md-6">
                                          {{ form.amount_invested }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="{{ form.investment_start_date.id_for_label }}">Investment Start Date</label>
                                </div>
                                <div class="form-group col-md-6">
                                {{ form.investment_start_date }}
                            </div>
                            </div>
                            <!-- Add more form fields here as needed -->

                            <div class="form-row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Update Investment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
