{% extends 'base.html' %}

{% block content %}
  <h2>Investment Groups</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups|dictsort:"name" %}
          <tr>
              <td><a href="{% url 'group_details' group.id %}">{{ group.name }}</a></td>
              <td>
                  {% if user in group.users.all %}
                      <form method="post" action="{% url 'group_leave' group.id %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Leave Group</button>
                      </form>
                  {% else %}
                      <a href="{% url 'user_selection' group_id=group.id %}" class="btn btn-primary">Add Members</a>
                  {% endif %}
                  <a href="{% url 'edit_investment_group' group.id %}" class="btn btn-warning btn-sm">Edit</a>
                  <a href="{% url 'delete_group' group.id %}" class="btn btn-danger">Delete Group</a>
                  

              </td>
          </tr>
      {% endfor %}
  </tbody>
  </table>
{% endblock %}
