{% extends 'base.html' %}

{% block content %}
  <h2>Select Users</h2>
  <form method="post">
    {% csrf_token %}
    <div class="row">
        {% for user in users %}
            <div class="col-md-4 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="users" value="{{ user.id }}" id="user_{{ user.id }}">
                    <label class="form-check-label" for="user_{{ user.id }}">
                        {{ user.username }}
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <button type="submit" class="btn btn-primary">Add Members</button>
</form>

{% endblock %}
